input {
    border: 1px solid #FFF;
    background: transparent;
    border: 1px solid #FFF;
    padding: 20px 140px;
    border-radius: 50px;
    width: 200px;
    color: #FFF;
    font-size: 16px;
    margin-bottom: 10px;

}

&::placeholder {
    color: #FFF;
    font-size: 16px;
}


.div {
    background-image: linear-gradient(90deg, #002F52 35%, #326589 165%);
    color: #FFF;
    text-align: center;
    padding: 85px 0;
    height: 270px;
    width: 100%;

}

.titulo {
    color: #FFF;
    font-size: 36px;
    text-align: center;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.subtitulo {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.paragrafo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-bottom: 40px;
    color: green;
}

.divResultadoPesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;


}

.divResultadoPesquisa:hover {
    border: 1px solid white;
}

.paragrafoResultato {
    width: 200px;
}

.img {
    width: 100px;
}